<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://kit.fontawesome.com/efbb429d1e.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>
<style>
    .nav-item a span{
        color:white !important;
        font-size:1.5rem !important;
    }
  
</style>

<body id="page-top" >
  <div id="wrapper" *ngIf="!shouldShowAttendance">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
     style="background-image: none;font-size:1.6rem;">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active" >
       
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link" routerLink="/playerdashboard" >
          <span>Practise</span></a>
      </li>

      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link" routerLink="/play-game" >
          <span>Play a Match</span></a>
      </li>

      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link" href="#" (click)="logoutHandler()" >
          <span>Logout</span></a>
      </li>

     

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              
            
      
            <div class="topbar-divider d-none d-sm-block"></div>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid" >

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="font-weight: bold;">Dashboard</h1>
          </div>
          
          <div class="row">
             <div class="col">
                 <p style="font-weight: bold;font-size:1.5rem;">General Information</p>
                 <div>
                  <p style="font-weight: bold;font-size:1.5rem;">Name : {{user.name}}</p>
                    <p style="font-weight: bold;font-size:1.5rem;">Email : {{user.email}}</p>
                 </div>
                 
             </div>
          </div>

          <div class="row" style="font-size: 1.5rem;">
              <div class="col-3">
                  <span *ngIf="checkExist()">Opponent level : {{user.opponentRanking}}</span><br><br>
                  <div style="margin-bottom:5vh;font-weight: bold;" *ngIf="!checkExist()">
                      Set Opponent Level : 
                      <br><br>
                      <form #f4="ngForm" style="width:30%;margin-left:3vh;" (ngSubmit)="setOpponentHandler(f4)">
                        <select name="ranking" ngModel>
                            <option>Beginner</option>
                            <option>Medium</option>
                            <option>Advance</option>
                          </select>
                          <button type="submit" class="btn btn-lg btn-success mt-4">Save Changes</button>
                      </form>
                  </div>

                      
                      <form style="display: inline-block;margin-left:4vh;">
                          <input type="checkbox" name="check" ngModel>
                      </form>
                      <span style="margin-left:1vh">Availablity </span>
                  
                <div>
                  <p style="font-weight: bold;margin-top:2vh;">Practise Session</p>
                  <div class="container-fluid">
                    <form class="mt-3 mb-2" class="z1" #f5="ngForm" (ngSubmit)="addSession(f5)" >
                        <div class="col-5">
                          Choose Game
                          <select ngModel name="game">
                                <option *ngFor="let game of userGameNames" 
                                [value]="game.id" >
                                           {{game.name}}
                                </option>
                          </select>
                        </div>
                        <div class="col-2">
                            <input type="time" ngModel name="startTime" placeholder="Enter Start Time"> 
                        </div>
                        <div class="col-2">
                           <input type="time" ngModel name="endTime" placeholder="Enter End Time">
                        </div>
                        <div class="col-4">
                             Choose Opponent
                             <select ngModel name="opponent">
                              <option *ngFor="let opponent of opponentData" 
                              [value]="opponent._id" >
                                         {{opponent.name}}
                              </option>
                        </select>
                        </div>
                        <div class="col">
                             <button type="submit" class="btn btn-lg btn-success">Add Practise Session Here</button>
                        </div>
                    </form>
                  </div>                     
              </div>
            </div>
              <div class="col">
                  <p style="font-weight: bold;margin-top:2vh;">Practise Sessions</p>
                
                  <table style="margin-top:1vh">
                      <tr style="font-weight: bold;">
                          <td>Game</td>
                          <td>Opponent</td>
                          <td>Coach</td>
                          <td>Court</td>
                          <td>Court location</td>
                          <td>Start Time</td>
                          <td>End Time</td>
                          <td>Level</td>
                      </tr>
                      <tr *ngFor="let session of showScedule" class="s1">
                        <td>{{session.GameID.name}}</td>
                        <td>{{session.OpponentPlayerId.name}}</td>
                        <td>{{session.GameID.coachID.name}}</td>
                        <td>{{session.GameID.courtID.name}}</td>
                        <td>{{session.GameID.courtID.location}}</td>
                        <td>{{session.startTime}}</td>
                        <td>{{session.endTime}}</td>
                        <td>Not Set</td>
                      </tr>
                  </table>
              </div>
          </div>
        

        </div>
        <!-- /.container-fluid -->

      </div>
      
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Club Penguin 2020</span>
          </div>
        </div>
      </footer>
    
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <div id="wrapper" *ngIf="shouldShowAttendance">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
     style="background-image: none;font-size:1.6rem;">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active" >
       
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      
      <li class="nav-item" style="cursor: pointer;">
        <a class="nav-link" href="#" (click)="logoutHandler()" >
          <span>Logout</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              
            
      
            <div class="topbar-divider d-none d-sm-block"></div>
          </ul>

        </nav>
        <!-- End of Topbar -->
        <div class="row">
              <div class="col-2">

              </div>
             <div class="col" style="position: relative;top:10vh;">
               <button class="btn btn-lg btn-success" (click)="addAttendance()" style="padding:5vh;font-size:2rem !important;">Mark Attendance</button>
             </div>
        </div>
    </div>
  </div>
</div>


 

 
</body>

</html>
