<!DOCTYPE html>
<html>
    <head>
           <title>Club Penguin</title>
    </head>
    <body>
        <router-outlet>
        </router-outlet>
    </body>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="../../assests/js/jquery.js"></script>
    <script src="../../assests/js/bootstrap.min.js"></script>
    <script src="../../assests/js/jquery.flexslider.js"></script>
    <script src="../../assests/js/owl.carousel.min.js"></script>
    <script src="../../assests/js/jquery.countdown.js"></script>  
    <script src="../../assests/js/waypoints-min.js"></script>
    <script src="../../assests/js/jquery.bxslider.min.js"></script>
    <script src="../../assests/js/bootstrap-progressbar.js"></script>
    <script src="../../assests/js/jquery.accordion.js"></script>
    <script src="../../assests/js/jquery.circlechart.js"></script>
    <script src="../../assests/js/jquery.prettyphoto.js"></script>
    <script src="../../assests/js/kode_pp.js"></script>
    <script src="../../assests/js/functions.js"></script>
    <script src="https://kit.fontawesome.com/efbb429d1e.js" crossorigin="anonymous"></script>
</html>

