<header id="mainheader" class="kode-header-absolute">

  <!--// TopBaar //-->
  <div class="kode-topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 kode_bg_white">
          <ul class="top_slider_bxslider">
           <li><span class="kode-barinfo"><strong>  Welcome to Club Penguin. Login or Create an Account</strong></span></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="kode-userinfo">
            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
            <li><nav><a routerLink="/login" ><i class="fa fa-sign-in"></i>Login</a></nav></li>
            <li><nav><a routerLink="/register" ><i class="fa fa-user-plus"></i> Register</a></nav></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--// TopBaar //-->

  <div class="header-8">
    <div class="container">
      <!--NAVIGATION START-->
      <div class="kode-navigation pull-left">
        <ul>
          <li><a href="#">Home</a>
          </li>
           <li><a routerLink="/login">Login</a>
          </li>
          <li><a routerLink="/register">Register</a>
          </li>
          
        
         
        </ul>
  </div>
   <!--LOGO START-->
 <!-- <div class="logo">
    <a href="#club-logo" class="logo"><img src="assets/images/Club-logo.jpg" alt="" style="vertical-align:middle;margin:50px 0px"></a>
  </div> -->
  <!--LOGO END-->
      
      <!--NAVIGATION END-->
    
      <!--NAVIGATION START-->
     
      <!--NAVIGATION END-->
      <nav class="navbar navbar-default">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a>
            </li>
            <li><a href="team-info.html">About Us</a></li>
            
            <li><a href="fixer-list.html">Fixture</a>
              <ul class="children">
                <li><a href="fixer_list.html">All Matches</a></li>
                <li><a href="fixer_list_view.html">List View</a></li>
                <li><a href="fixture_full_view.html">Full View</a></li>
                <li><a href="fixture-detail.html">Fixture detail</a></li>
              </ul>
            </li>
            <li><a href="gallery-two.html">Our Gallery</a>
              <ul class="children">
                <li><a href="gallery-two.html">Gallery 2 Column</a></li>
                <li><a href="gallery-three.html">Gallery 3 Column</a></li>
                <li><a href="gallery-four.html">Gallery 4 Column</a></li>
                <li><a href="gallery-full-width.html">Gallery Full Width</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Team & Player</a>
              <ul class="children">
                <li><a href="player-list.html">Players</a></li>
                <li><a href="player-detail.html">Player detail</a></li>
                <li><a href="team-detail.html">Team Detail</a></li>
              </ul>
            </li>
           
            
            <li class="last"><a href="#">Contact Us</a>
              <ul class="children">
                <li><a href="contact-us.html">Contact V1</a></li>
                <li><a href="contact-ustwo.html">Contact V2</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
        
      </nav>
    </div>
  </div>
</header>

