<footer id="footer1" class="kode-parallax kode-dark-overlay kode-bg-pattern">
    <!--Footer Medium-->
    <div class="footer-medium">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-widget">
                        <h3>About ClubPenguin</h3>
                        <ul class="kode-form-list">
                          <li><i class="fa fa-home"></i> <p><strong>Address:</strong> 805 omnis iste natus error.</p></li>
                          <li><i class="fa fa-phone"></i> <p><strong>Phone:</strong> 111 8756 22  777 4456 112</p></li>
                          <li><i class="fa fa-envelope-o"></i> <p><strong>Email:</strong> Info@sportyleague.com</p></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="widget widget-flickr kode-gallery-pretty">
                        <h3>Flickr</h3>
                        <ul>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-1.jpg"></a></li>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-2.jpg"></a></li>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-3.jpg"></a></li>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-1.jpg"></a></li>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-2.jpg"></a></li>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-3.jpg"></a></li>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-1.jpg"></a></li>
                            <li><a data-gal="prettyphoto" href="assests/images/widgetgallery-2.jpg"><img alt="" src="assests/images/widgetgallery-2.jpg"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-us-widget">
                        <h3>Connect with us</h3>
                        <p>Follow us to stay in the loop on what’s<br>
                        Sed ut perspiciatis unde omnis iste natus<br> error sit Sed ut perspiciatis unde omnis iste<br> natus error sit</p>
                        <ul class="social-links1">
                            <li>
                                <a href="#" class="tw-bg1"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="fb-bg1"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="youtube-bg1"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="#" class="linkedin-bg1"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="tw-bg1"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="fb-bg1"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer Medium End-->


  </footer>
  <!--// Contact Footer //-->

  <div class="kode-bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>©2020 ClubPenguin. All Right Reserved</p>
        </div>
        <div class="col-md-6">
          <a href="#" id="kode-topbtn" class="thbg-colortwo"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>      </div>
